@model PavlicWebShop.Models.Binding.ProductUpdateBinding

@{
    ViewData["Title"] = "DetailsProduct";
    string image = "~/noimage.png";
    if (Model.ProductImgUrl != null)
    {
        image = Model.ProductImgUrl;
    }

}

<h1>DetailsProduct</h1>

<div>
    <h4>ProductUpdateBinding</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            
            <img id="frame" src=@Url.Content(@Model.ProductImgUrl) class="img-fluid rounded" />
          
        </div>
        <dl class="col-md-6">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.ProductCategory)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.ProductCategory.Title)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-12">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>

    </div>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    <a asp-action="ProductsList">Back to List</a>
</div>
