@model IEnumerable<PavlicWebShop.Models.ViewModel.ProductCategoryViewModel>

@{
    ViewData["Title"] = "ProductCategorysList";
}

<h2>Product Categorys</h2>

<a class="btn btn-success" href="@Url.Action("AddProductCategory", "Product")">New category</a>
<p></p>
        <table id="dtProduct" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="UpdateProductCategory" asp-route-id="@item.Id" class="btn btn-secondary btn-sm" style='margin-left:5px'><i class='fa fa-edit'></i> Edit</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>


                            @section Scripts{
 
    <script>
        $(document).ready(function() {
            $('#dtProduct').DataTable({
                "scrollCollapse": true,
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}
