@model IEnumerable<PavlicWebShop.Models.ViewModel.ProductViewModel>

@{
    ViewData["Title"] = "ProductsList";
}

<h1>ProductsList</h1>

<a class="btn btn-primary" href="@Url.Action("AddProduct", "Product")">Dodaj novi proizvod</a>
<a class="btn btn-primary" href="@Url.Action("ProductCategorysList", "Product")">Dodaj novu kategoriju</a>
<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="UpdateProduct" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="DetailsProduct" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                    <a asp-action="DeleteProduct" asp-route-id="@item.Id" type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want delete this product?')">Delete</a>
                    <a data-target="#DeleteModal-@item.Id" data-toggle="modal" class="text-danger">Delete</a>
                </td>
            </tr>
            }
    </tbody>
</table>




