@using PavlicWebShop.Models.ViewModel
@model List<ProductViewModel>
@{
    int counter = 1;
    var r = new Random();
    var tenRandomProduct = Model.OrderBy(u => r.Next()).Take(10);

}
@*<style>
    .card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
}
</style>*@
<!-- Main content -->
<section class="content">

    <div class="row g-3">

        @foreach (var product in tenRandomProduct)
        {

            if (@product.ProductImgUrl != null)
            {
                string path = @product.ProductImgUrl;
                <div class="col-sm-4 card">
                    <div class="embed-responsive embed-responsive-4by3">
                    <img src=@Url.Content(product.ProductImgUrl) class="card-img-top embed-responsive-item" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                        <p class="card-text">@product.Price kn</p>
                        <a asp-action="DetailsProduct" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
@*                <div class="col-md-4 card-secondary">

                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <img class="card-img" src=@Url.Content(product.ProductImgUrl) alt="Card image cap">
                    </div>
                    <div class="card-footer">
                        <div class="card-title"><h5>@product.Title</h5></div>
                        <div class="card-text"><h5>@product.Price</h5></div>
                        <a asp-action="DetailsProduct" asp-route-id="@product.Id" class="btn btn-primary">View</a>
                    </div>
                </div>*@
            }
            else
            {
                 <div class="col-sm-4 card">
                    <div class="embed-responsive embed-responsive-4by3">
                    <img src="~/noimage.png" class="card-img-top embed-responsive-item" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                        <p class="card-text">@product.Price Kn</p>
                        <a asp-action="DetailsProduct" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            }
        }
    </div>

</section>
<!-- /.content -->
