@using PavlicWebShop.Models.ViewModel
@model List<ProductViewModel>
@{
    int counter = 1;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv</th>
            <th scope="col">Opis</th>
            <th scope="col">Cijena</th>
            <th scope="col">Detalji</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model.OrderBy(x=> Guid.NewGuid()))
        {
            decimal price = product.Price * 1.25M;

            <tr>
                <th scope="row">@counter</th>
                <td>@product.Title</td>
                <td>@product.Description</td>
                <td>@string.Format("{0:C}",price)</td>
                <td>
                    @if(product.Quantity > 0)
                    {
                        <a href="@Url.Action("ItemView", "Home",new {id = product.Id})" class="btn btn-success">Detalji</a>
                    }
                    else
                    {
                        <span>Proizvod nije dostupan</span>
                    }

                </td>
                <td>
                    @*<img src="@product.ProductImgUrl" alt="@product.Title">*@
                </td>

            </tr>
            counter++;
        }



    </tbody>
</table>