@using PavlicWebShop.Models.ViewModel
@model List<ProductViewModel>

<div class="row g-3">
    @foreach (var product in Model)
    {

        if (@product.ProductImgUrl != null)
        {
             <div class="col-md-3 card">
                    <div class="embed-responsive embed-responsive-1by1">
                    <img src=@Url.Content(product.ProductImgUrl) class="card-img-top embed-responsive-item" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                        <p class="card-text">@product.Price kn</p>
                        <a asp-action="DetailsProduct" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
        }
        else
        {
             <div class="col-md-3 card">
                    <div class="embed-responsive embed-responsive-1by1">
                    <img src="~/noimage.png" class="card-img-top embed-responsive-item" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                        <p class="card-text">@product.Price kn</p>
                        <a asp-action="DetailsProduct" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
        }
    }
</div>